
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="margin-top:-1rem; width: fit-content;background-image: url('https://cdn.discordapp.com/attachments/773169421089767485/840236874328703026/DSC05160.jpg');padding:0;padding-bottom:35% !important;background-size: cover;"> 
  <main class="px-3">
<div class="" style=" margin-top:20%; flex-direction:column;">
  <h1 class="text-center">Bienvenue</h1>
    <h2 class="text-center" >Rejoignez la communauté MMI-Flickr !</h2>
    <h2 class="text-center">
      <a href="/photos" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Commencer</a>
    </h2>

  </main>

</div>