

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="width: fit-content"> 
  <main class="px-3">
  <h1 class="text-center">Bienvenue</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="/photos" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Commencer</a>
    </p>
  </main>

</div>