<div style="width:50vw; margin-right: auto; margin-left: auto;">
  <h1>Modifier le post</h1>
  <%= render 'form', photo: @photo %>
  <%= link_to 'Show', @photo, class:"btn btn-primary mt-3" %>
  <%= link_to 'Back', photos_path, class:"btn btn-primary mt-3" %>
</div>
